<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mouseod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mouseod.Properties.Settings>
            <setting name="OnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Total" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsMeter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaseFx" serializeAs="String">
                <value>0</value>
            </setting>
        </mouseod.Properties.Settings>
    </userSettings>
</configuration>